<!-- $page_url https://www.worshipu.com/events/apply-now/ -->
<!-- $page_title Apply Now | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2
          Apply Now

        :erb
          <a name="form1915054608" id="formAnchor1915054608"></a>
          <script type="text/javascript" src="https://fs2.formsite.com/include/form/embedManager.js?1915054608"></script>
          <script type="text/javascript">
            EmbedManager.embed({
              key: "https://fs2.formsite.com/res/showFormEmbed?EParam=m%2FOmK8apOTB9nJTa4oErOGNlBh4eh78aFzpUCZwnDno%3D&1915054608",
              width: "100%",
              mobileResponsive: true
            });
          </script>

