<!-- $page_url https://www.worshipu.com/events/lodging/ -->
<!-- $page_title Lodging | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2 Lodging

        .reg-title Housing
        .reg-content
          Each student is responsible for his or her own living expenses and arrangements. A housing link will be provided to accepted BSW students.
          %br
          Information on the Redding Area:
          %br
          You may contact the Chamber of Commerce at (530) 225-4433. For subscriptions to our local newspaper, the Record Searchlight, call (800) 666-2772 or (530) 243-2424 or visit
          %a{ href: 'http://redding.com', target: '_blank' }
            www.redding.com
          or
          %a{ href: 'http://www.ci.redding.ca.us', target: '_blank' }
            www.ci.redding.ca.us
          for more information.

        .reg-title Transportation
        .reg-content
          Airport - First Class Shuttle service is a shuttle service that operates 24/7 between the Sacramento Airport and Redding. For information and details go to
          %a{ href: 'http://www.firstclassshuttle.net', target: '_blank' }
            www.firstclassshuttle.net
          \. The Greyhound bus offers service between San Francisco Airport and Redding. For information and details go to
          %a{ href: 'http://www.greyhound.com' }
            www.greyhound.com
          \.
          %br
          %br
          Daily - As Bethel Church is not in walking distance from some residences, students may rent a car, purchase a used bike on craigslist (
          %a{ href: 'http://www.redding.craigslist.org', target: '_blank' }
            www.redding.craigslist.org
          ), use the Redding Bus System (RABA -
          %a{ href: 'http://www.rabaride.com', target: '_blank' }
            www.rabaride.com
          ), or rideshare with other students.

