<!-- $page_url https://www.worshipu.com/events/general-information/ -->
<!-- $page_title General Information | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2 General Information

        .reg-title Age Limit
        .reg-content
          The age requirement to attend WorshipU On Campus is 18 and older. Exceptions may be considered for minor students attending with a parent/legal guardian and for students with a High School Diploma/GED.

        .reg-title Childcare
        .reg-content
          There is no childcare available for the WorshipU On Campus.

        .reg-title Housing
        .reg-content
          Each student is responsible for his or her own living expenses and arrangements. A housing link will be provided to accepted BSW students.
          %br
          Information on the Readding Area:
          %br
          You may contact the Chamber of Commerce at (530) 225-4433. For subscriptions to our local newspaper, the Record Searchlight, call (800) 666-2772 or (530) 243-2424 or visit
          %a{ href: 'http://redding.com', target: '_blank' }
            www.redding.com
          or
          %a{ href: 'http://www.ci.redding.ca.us', target: '_blank' }
            www.ci.redding.ca.us
          for more information.

        .reg-title Transportation
        .reg-content
          Airport - First Class Shuttle service is a shuttle srvice that operates 24/7 between the Sacramento Airport and Redding. For information and details go to
          %a{ href: 'http://www.firstclassshuttle.net', target: '_blank' }
            www.firstclassshuttle.net
          \. The Greyhoud bus offers service between San Francisco Airport and Redding. For information and details go to
          %a{ href: 'http://www.greyhound.com' }
            www.greyhound.com
          \.
          %br
          %br
          Daily - As Bethel Church is not in walking distance from some residences, students may rent a car, purchase a used bike on craigslist (
          %a{ href: 'http://www.redding.craigslist.org', target: '_blank' }
            www.redding.craigslist.org
          ), use the Redding Bus System (RABA -
          %a{ href: 'http://www.rabaride.com', target: '_blank' }
            www.rabaride.com
          ), or rideshare with other students.
        .reg-title Auditing of Classes
        .reg-content
          If you are unable to enroll as a full-time attendee of Bethel School of Worship or would prefer to only attend a few classes, you may choose to AUDIT up to 5 days/$500. Auditor registration is every morning 9:00-10:00am at the Auditor Registration table in the foyer outside the sanctuary doors.
          %br
          %br
          Auditing rates are as follows:
          %br
          $100 - Full Day including night classes
          %br
          $25 - Elective classes (Note: elective classes are based on availability. Enrolled students get priority scheduling. Availability will be determined at the time of payment.)
          %br
          $25 - Morning Worship + Main Session Speaker
          %br
          You may email
          %a{ href: 'mailto:bsw@ibethel.org' } bsw@ibethel.org
          for the Schedule of Classes (afternoon and elective classes limited to availability, please come prepared with your first and second choices for each session.)

