<!-- $page_url https://www.worshipu.com/events/class-schedule/ -->
<!-- $page_title Class Schedule | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2 Class Schedule

        .reg-title Registration Deadline: May 1 2015
        **Date subject to change based on maximum capacity
        .reg-title First Day of Classes: Monday, July 6, 2015 
        .reg-title Last Day of Classes: Friday, July 17, 2015 

        .reg-title General Daily Schedule:
        .reg-content
          Classes are held MONDAY through FRIDAY, Mornings and Evenings
          10:00AM - 12:30 - Morning Worship and Main Session
          12:30 - 1:30 - Lunch Break
          1:30 - 5:00 - Afternoon Breakout classes
          5:00 - 7:00 - Dinner Break
          7:00 - 9:00 - Evening Breakout classes
          %br
          %br
          General Types and Titles of Classes Listed Below: 

        .reg-title Band Session:
        Instrument Focus: Acoustic & Electric Guitars, Keys, Bass, and Drums
        Position Focus: Worship Leader and BGV
        .reg-content 
          INSTRUCTORS: Worship U Staff and Bethel Music Artists
          In this class, you will have an opportunity to be part of a band in which you will have a personal instructor coaching you as you play, giving you feedback and tips on how you can grow in your instrument. Students participating in these sessions will need to bring their own guitar, bass or accent instruments. Drums and keyboards are not necessary. 
          %br
          %br
          This class is very limited and there will be a signup sheet for each session. 1st preference will be to those who have come with multiple band members who have already been playing together.
          %br
          %br
          Class Prerequisite: Must be currently playing/leading worship in a band with a minimum of 3 years experience Teams will be selected by Worship U staff.

        .reg-title Songwriting
        .reg-content
          We offer a variety of songwriting classes that are taught by our Worship U staff and other outside guest speakers. Actual class descriptions will be made available 1 month before school starts. Here are some of the following topics that will be addressed in class:
          Catching and Crafting Ideas
          The Marriage of Lyric and Music
          What Makes a Great Song
          Painting Pictures with Your Words
          General Guidelines for Writing a Worship Song
          Incorporating Different Styles in Your Writing
          Co-Writing Keys
          Saying What You Want to Say in a Musical Way
          And more…

        .reg-title Worship Leading/Prophetic Song
        .reg-content
          Corporate Vs. Personal Anointing
          The Role of a Worship Leader
          Learning about Response Vs. Revelation Received
          Spirit Led Worship
          Connection to Leadership as a Worship Leader
          Relating to Your Band and Pulling the Best Out of Them
          Creating Song Lists
          How to Run a Smooth Sound Check
          How to Create a Prophetic Culture Through Praise/Worship
          Using Songs as a Runway to the Prophetic
          Leading with Confidence
          Prophetic Song Vs. Spontaneous Song
          Where does the Prophetic Song fit in a Worship Service?
          And more…

        .reg-title Drums
        .reg-content
          Classes are rated Beginner/Intermediate and are open to all drummers. Depending on how many drummers we have in class, you may have personal one on one instructions with a personal instructor.
          Topics Include:
          Drum Set Basics
          The Role of a Drummer in a Worship Setting
          Playing with Different Band Leaders
          Playing Dynamically
          Playing with a Metronome
          Being Sensitive to the Movement of the Spirit and the Music
          Tips on Recording
          Studio Drumming

        .reg-title Bass
        .reg-content
          Classes are rated Beginner/Intermediate and are open to all bass players. Depending on how many players we have in class, you may have personal one on one instructions with a personal instructor.
          Topics Include:
          Style and Technique
          Gear and Tone
          Bass Q & A
          Music Theory
          The Role of a Bass Player in the Band

        .reg-title Guitar
        .reg-content
          There are many different classes taught on guitar ranging from the Beginning Player to the Advanced Player. More descriptions of exact classes will be given one month prior to school starting. Some of the topics to be covered in the classes are:
          The Role of an Electric Lead Player
          Excellence in Performing
          Gear
          Basic Harmony: How Chords and Progressions Relate to Each Other
          Understanding Guitar Theory
          Beginning Acoustic
          Intermediate Acoustic
          Lead Guitar Playing in a Worship Setting
          Tutorial on Jesus Culture & Bethel Live Lead Guitar Parts

        .reg-title Keyboards
        .reg-content 
          Topics covered in the Keyboards class include:
          Sound Design
          How To Be a Keyboardist in a Worship Band
          Playing Tips
          Software, Recording and Gear
          Basic Worship Piano
          Effects
          Discovering Your Limitations and Growing Beyond Them
          Choosing the Appropriate Sound(s)
          The Nashville Number System

        .reg-title Creative Expressions
        .reg-content 
          This is your opportunity to be able to present to the class the creative expressions that you have living inside of you. Your expression can be anything from Spoken Word to a Hip-Hop dance and everything in between.

        .reg-title Dance/Creative Movement & Flagging
        .reg-content 
          We have a wonderful group of dancers from The Artesan Dance Company in Redding along with dancers from Bethel Church that specialize in a variety of dance styles. Some of the classes include but are not limited to:
          Beginning Through Advanced Ballet
          Creative Movement
          Healing Room Dance
          Modern Dance
          Urban Dance Demonstration
          Ballet Fitness
          Flagging
          Dance as Intercession
          Choreography

        .reg-title Art In Worship
        .reg-content 
          A selection of topics included but not limited to:
          Prophetic Art in the Marketplace
          Living Your Dreams Through Creativity
          Breakthrough and Healing Through Prophetic Art
          Creative Freedom
          Prophetic Portraits
          Writing With Words and Color

        .reg-title Voice
        .reg-content 
          In the voice class, we will be discussing the mechanics of the voice to help you find your true voice. We will be observing and evaluating common problem areas and negative tendencies that people have while singing, such as pushing, pulling, squeezing, over-blowing, lack of strength and singing throaty, nasally or breathy. We will then discuss and implement practical ways to correct these things.
          Private lessons will be available from the instructor for an additional fee. You may go to 
          %a{ href: 'http://www.ibethel.org/supplemental-voice-lessons', target:'blank'}
            www.ibethel.org/supplemental-voice-lessons
          \. to schedule a lesson.

        .reg-title Sound & Recording
        .reg-content 
          We have a wide range of Sound & Recording options available to you this year. Most classes are hands-on and allow you to have a recording/mixing experience in a non-threatening atmosphere. Classes are being taught for all skill levels. Topics include:
          Pro-Tools Basics
          Intermediate and Advance Pro-Tools and Audio Training
          Advanced Studio Training
          Sound 101
          Recording Overview
          Microphone Techniques
          Studio Mixing Techniques
          Recording Demos

        .reg-title Photography
        .reg-content
          This class is broken up into 5 sessions. You need to have your own camera and it should not be your Iphone. During the course of the school, you will learn the following:
          %br
          %br
          The Prophetic Side – Learn how to capture elements/people/landscape through the lens.
          %br
          %br
          The Studio Side – Learn how to use Studio Lights, backdrops, props etc. You will also be working with live models.
          %br
          %br
          The Natural Light Side - This class is taken outside where you will be working with natural light and the surrounding elements.
          %br
          %br
          The Photoshop Side - Is editing necessary? You will learn simple photoshop techniques to artistically enhance your photos.
          %br
          %br
          Digital Imaging – This class will cover image composition, camera control, image capture and editing tools.

        .reg-title Miscellaneous Classes:
        .reg-content 
          Making Technology Work For You
          Overcoming Resistance
          Spirit Think Tank
