<!-- $page_url https://www.worshipu.com/events/class-schedule/ -->
<!-- $page_title Class Schedule | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2 Class Schedule
