<!-- $page_url https://www.worshipu.com/events/class-schedule/ -->
<!-- $page_title Class Schedule | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2 Class Schedule

        .reg-title Registration Deadline: May 1, 2015
        **Date subject to change based on maximum capacity
        .reg-title First Day of Classes: Monday, July 6, 2015 
        .reg-title Last Day of Classes: Friday, July 17, 2015 

        .reg-title General Daily Schedule:
        .reg-content
          Classes are held Monday through Friday, Mornings and Evenings
          %ul
            %li 10:00AM - 12:30 - Morning Worship and Main Session
            %li 12:30 - 1:30 - Lunch Break
            %li 1:30 - 5:00 - Afternoon Breakout classes
            %li 5:00 - 7:00 - Dinner Break
            %li 7:00 - 9:00 - Evening Breakout classes
          %br
          %br
          General Types and Titles of Classes Listed Below: 

        .reg-title Band Session:
        .reg-content 
          Instrument focus: Acoustic & Electric Guitars, Keys, Bass, and Drums
          %br
          %br
          Position focus: Worship Leader and BGV
          %br
          %br
          Instructors: WorshipU Staff and Bethel Music Artists
          %br
          %br
          In this class, you will have an opportunity to be part of a band in which you will have a personal instructor coaching you as you play, giving feedback and tips on how you can grow and develop in your focus area. Students participating in these sessions will need to bring their own guitar, bass or accent instruments. Drums and keyboards are not necessary. 
          %br
          %br
          This class has limited capacity and there will be a signup sheet for each session. Preference will be given to students who have come with multiple band members currently playing together.
          %br
          %br
          Class prerequisite: 3 years' experience.

        .reg-title Songwriting
        .reg-content
          We offer a variety of songwriting classes that are taught by our WorshipU staff and guest speakers. Actual class descriptions will be made available one month before school starts. Some of the topics that will be covered in class include:
          %ul
            %li Catching and Crafting Ideas
            %li The Marriage of Lyric and Music
            %li What Makes a Great Song
            %li Painting Pictures with Your Words
            %li General Guidelines for Writing a Worship Song
            %li Incorporating Different Styles in Your Writing
            %li Co-Writing Keys
            %li Saying What You Want to Say in a Musical Way
            and more…

        .reg-title Worship Leading/Prophetic Song
        .reg-content
          %ul  
            %li Corporate Vs. Personal Anointing
            %li The Role of a Worship Leader
            %li Learning about Response Vs. Revelation Received
            %li Spirit Led Worship
            %li Connection to Leadership as a Worship Leader
            %li Relating to Your Band and Pulling the Best Out of Them
            %li Creating Song Lists
            %li How to Run a Smooth Sound Check
            %li How to Create a Prophetic Culture Through Praise/Worship
            %li Using Songs as a Runway to the Prophetic
            %li Leading with Confidence
            %li Prophetic Song Vs. Spontaneous Song
            %li Where does the Prophetic Song fit in a Worship Service?
            and more…

        .reg-title Drums
        .reg-content
          Classes are rated Beginner/Intermediate and are open to all drummers. Depending on how many drummers we have in class, you may have personal one on one instructions with a personal instructor.
          Topics Include:
          %ul
            %li Drum Set Basics
            %li The Role of a Drummer in a Worship Setting
            %li Playing with Different Band Leaders
            %li Playing Dynamically
            %li Playing with a Metronome
            %li Being Sensitive to the Movement of the Spirit and the Music
            %li Tips on Recording
            %li Studio Drumming

        .reg-title Bass
        .reg-content
          Classes are rated Beginner/Intermediate and are open to all bass players. Depending on how many players we have in class, you may have personal one on one instructions with a personal instructor.
          Topics Include:
          %ul  
            %li Style and Technique
            %li Gear and Tone
            %li Bass Q & A
            %li Music Theory
            %li The Role of a Bass Player in the Band

        .reg-title Guitar
        .reg-content
          There are many different classes taught on guitar ranging from the Beginning Player to the Advanced Player. More descriptions of exact classes will be given one month prior to school starting. Some of the topics to be covered in the classes are:
          %ul  
            %li The Role of an Electric Lead Player
            %li Excellence in Performing
            %li Gear
            %li Basic Harmony: How Chords and Progressions Relate to Each Other
            %li Understanding Guitar Theory
            %li Beginning Acoustic
            %li Intermediate Acoustic
            %li Lead Guitar Playing in a Worship Setting
            %li Tutorial on Jesus Culture & Bethel Live Lead Guitar Parts

        .reg-title Keyboards
        .reg-content 
          Topics covered in the Keyboards class include:
          %ul  
            %li Sound Design
            %li How To Be a Keyboardist in a Worship Band
            %li Playing Tips
            %li Software, Recording and Gear
            %li Basic Worship Piano
            %li Effects
            %li Discovering Your Limitations and Growing Beyond Them
            %li Choosing the Appropriate Sound(s)
            %li The Nashville Number System

        .reg-title Creative Expressions
        .reg-content 
          This is your opportunity to be able to present to the class the creative expressions that you have living inside of you. Your expression can be anything from Spoken Word to a Hip-Hop dance and everything in between.

        .reg-title Dance/Creative Movement & Flagging
        .reg-content 
          We have a wonderful group of dancers from The Artesan Dance Company in Redding along with dancers from Bethel Church that specialize in a variety of dance styles. Some of the classes include but are not limited to:
          %ul  
            %li Beginning Through Advanced Ballet
            %li Creative Movement
            %li Healing Room Dance
            %li Modern Dance
            %li Urban Dance Demonstration
            %li Ballet Fitness
            %li Flagging
            %li Dance as Intercession
            %li Choreography

        .reg-title Art In Worship
        .reg-content 
          A selection of topics included but not limited to:
          %ul  
            %li Prophetic Art in the Marketplace
            %li Living Your Dreams Through Creativity
            %li Breakthrough and Healing Through Prophetic Art
            %li Creative Freedom
            %li Prophetic Portraits
            %li Writing With Words and Color

        .reg-title Voice
        .reg-content 
          In the voice class, we will be discussing the mechanics of the voice to help you find your true voice. We will be observing and evaluating common problem areas and negative tendencies that people have while singing, such as pushing, pulling, squeezing, over-blowing, lack of strength and singing throaty, nasally or breathy. We will then discuss and implement practical ways to correct these things.
          Private lessons will be available from the instructor for an additional fee. You may go to 
          %a{ href: 'http://www.ibethel.org/supplemental-voice-lessons', target:'blank'}
            www.ibethel.org/supplemental-voice-lessons
          \ to schedule a lesson.

        .reg-title Sound & Recording
        .reg-content 
          We have a wide range of Sound & Recording options available to you this year. Most classes are hands-on and allow you to have a recording/mixing experience in a non-threatening atmosphere. Classes are being taught for all skill levels. Topics include:
          %ul
            %li Pro-Tools Basics
            %li Intermediate and Advance Pro-Tools and Audio Training
            %li Advanced Studio Training
            %li Sound 101
            %li Recording Overview
            %li Microphone Techniques
            %li Studio Mixing Techniques
            %li Recording Demos

        .reg-title Photography
        .reg-content
          This class is broken up into 5 sessions. You need to have your own camera and it should not be your Iphone. During the course of the school, you will learn the following:
          %ul
            %li The Prophetic Side – Learn how to capture elements/people/landscape through the lens.
          
            %li The Studio Side – Learn how to use Studio Lights, backdrops, props etc. You will also be working with live models.

            %li The Natural Light Side - This class is taken outside where you will be working with natural light and the surrounding elements.

            %li The Photoshop Side - Is editing necessary? You will learn simple photoshop techniques to artistically enhance your photos.

            %li Digital Imaging – This class will cover image composition, camera control, image capture and editing tools.

        .reg-title Miscellaneous Classes:
        .reg-content 
          %ul
            %li Making Technology Work For You
            %li Overcoming Resistance
            %li Spirit Think Tank
