<!-- $page_url https://www.worshipu.com/events/community/ -->
<!-- $page_title Community | WorshipU -->
<!-- @include events-subpage/_header -->

-# again without the if statments i am helpless
:sass
  #events-subpage-close
    a
      color: white

%section.events-page.subpage

  .sessions-header#community
    %h1 Community

  .container
    .row
      .col-md-8.col-md-offset-2

        %h2
          WorshipU On Campus main sessions are power packed teachings filled with incredible revelation

        %p
          Come to Redding, California for a life-changing summer adventure filled with incredible teaching, passionate worship services and forge life-long friendships. Come to Redding, California for a life-changing summer adventure filled with incredible teaching, passionate worship services and forge life-long friendships.

        %p
          Here are some of our most popular main sessions:

        %ul
          %li Heart of Worship - Bill Johnson
          %li Paupers to Princes - Kris Vallotton
          %li Pursuing His Presence - Jeremy Riddle
          %li The Power of Praise - Brian Johnson
