<!-- $page_url https://www.worshipu.com/events/community/ -->
<!-- $page_title Community | WorshipU -->
<!-- @include events-subpage/_header -->

-# again without the if statments i am helpless
:sass
  #events-subpage-close
    a
      color: white
      opacity: .8
      &:hover
        color: white
        opacity: 1

%section.events-page.subpage

  .sessions-header#community
    %h1 Community

  .container
    .row
      .col-md-8.col-md-offset-2

        %h2
          Make friends that will last a lifetime

        %p
          This year, WorshipU is taking community to another level! You will have plenty of intentional times to connect with peers and WorshipU staff. Throughout the 2 weeks in Redding, you will be connected with a small group of other worshippers with whom you can pray together, write together, and build friendships. During band sessions you can play alongside your classmates to experience a true team feeling. 

        %p
          We also invite you to join in to the monthly Bethel Worship team community night. This will be a unique opportunity for WorshipU students to sit in and see how Bethel church facilitates an actual worship team meeting. It's a special time to connect with our team.
