.contact {
	margin-top: 140px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	font-family: "proxima_nova_rgregular";
}

.contact-header {
	font-family: "proxima_nova_ltsemibold";
	color: #4f4f4f;
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 100px;
	margin-bottom: 20px;
}

.contact label {
	margin-left: 16px;
	margin-bottom: 4px!important;
}


@media (max-width: 991px) {

	.contact {
		width: 70%;
		margin-left: 20%;
		margin-right: 20%;
	}

}


@media (max-width: 767px) {

	.contact {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

}


@media (max-width: 480px) {

	.contact {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.contact-header {
		margin-top: -60px;
		margin-bottom: 10px;
	}

	.contact label {
		padding-top: 0;
		margin-top: -20px!important;
	}
}