.hero-img#core-classes{
	background: url(../images/core-hero-lg.jpg) no-repeat top right;
	height: 700px;
	width: 100%;
	background-size: cover;
	background-position-x: 50% !important;

}

.sub-nav {	
	font-family: "proxima_nova_ltsemibold";
	font-size: 1.1em;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	box-shadow: 0px 1px 5px #e0e0e0;
}

.active {
	background-color: #fff!important;
	color: #4f4f4f!important;
	position: fixed;
}

.not-active:hover {
	background-color: #f6f6f6;
	color: #4f4f4f;
	-webkit-transition: all 0.2s linear;
}

.nav-box1,
.nav-box2 {
	height: 50px;
	padding-top: 16px;
	width: 50%;
	background-color: #f0f0f0;
	display: inline-block;	
}

.nav-box1 {
	left: 0;
}

.nav-box2 {
	padding-left: 6px;
	margin-left: 50%;
}


.sub-nav a {
	text-decoration: none;	
	color: #ababab;
}


.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	margin-top: 10px; 
	margin-left: 47%;
	position: absolute;
	border-top: 20px solid #fff;
}

.hero-img#core-classes .header{
	font-family: "proxima_nova_ltsemibold";
	font-size: 4em!important;
	text-align: left;
	color: #fff;
	line-height: 1em;
	padding-top: 220px;
}

.block#classes {
	height: auto;
	padding-top: 60px;
	padding-bottom: 80px;
}

.block#classes h1 {
	text-align: center;	
	width: 80%;
	margin-left: 10%;
}

.block#classes p {
	padding-top: 10px;
	width: 60%;
	text-align:justify;
	text-justify:inter-word;
	margin-left: 20%;
}


#sample-lesson {
	background-color: #202020;
	height: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	
}

#sample-lesson h1 {
	color: #fff;
	text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
  height: 90%;
}

.sample-lesson-thumb {
	width: 60%;
	margin-left: 20%;
	margin-top: 20px;
}

.youtube:focus{
	border-radius: none;
	outline: none;
}

#core-themes {
	height: auto;
	padding-top: 60px;
	padding-bottom: 80px;
}


#core-themes h1 {
	text-align: center;
	margin-bottom: 40px;
}

.theme-cube {
	background-color: #f6f6f6;
	display: block;
	margin-bottom: 30px;
	height: 430px;

}

.theme-cube:hover {
	text-decoration: none;
	background-color: #f0f0f0;
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
}

.theme-cube h1 {
	font-size: 1.2em;
	padding-top: 20px!important;
	margin-bottom: 0!important;
	width: 84%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.theme-cube .theme-icon {
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;	
	margin-top: 14px;
	margin-bottom: 14px;
}


.theme-icon#fundamentals {
	background: url(../images/icon-fundamentals@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#leadership {
	background: url(../images/icon-leadership@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#community {
	background: url(../images/icon-community@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#lifestyle {
	background: url(../images/icon-lifestyle@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#songwriting {
	background: url(../images/icon-songwriting@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#heart {
	background: url(../images/icon-heart@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}


.theme-cube #fundamentals .icon-active {
	position: absolute;
	background: url(../images/icon-fundamentals@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #leadership .icon-active {
	position: absolute;
	background: url(../images/icon-leadership@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #community .icon-active {
	position: absolute;
	background: url(../images/icon-community@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #lifestyle .icon-active {
	position: absolute;
	background: url(../images/icon-lifestyle@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #songwriting .icon-active {
	position: absolute;
	background: url(../images/icon-songwriting@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #heart .icon-active {
	position: absolute;
	background: url(../images/icon-heart@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube:hover #fundamentals .icon-active,
.theme-cube:hover #leadership .icon-active,
.theme-cube:hover #community .icon-active,
.theme-cube:hover #lifestyle .icon-active,
.theme-cube:hover #songwriting .icon-active,
.theme-cube:hover #heart .icon-active {
	opacity: 1;
}


.theme-cube p {
	font-size: 1em!important;
	text-align:justify;
	text-justify:inter-word;
	width: 84%;
	margin-left: 8%;
	margin-bottom: 40px;
}

@media (max-width: 991px) {
	
	.block#classes p {
		width: 80%;
		margin-left: 10%;
	}
	
	.sample-lesson-thumb {
		width: 80%;
		margin-left: 10%;
	}

}


@media (max-width: 767px) {

	.hero-img {
		height: auto;
	}

	.arrow-down {
		margin-left: 42%!important;
	}

	.block#classes h1 {
		width: 90%;
		margin-left: 5%;
	}

	.block#classes p {
		width: 90%;
		margin-left: 5%

	}

	.block#core-themes {
		padding-bottom: 20px;
	}

	.sample-lesson-thumb {
		width: 96%;
		margin-left: 0;
	}

	.block#core-themes h1 {
		width: 90%;
		margin-left: 5%;
	}

	.theme-cube{
		height: auto;
	}

}

@media (max-width: 580px) {

	.hero-img#core-classes {
		background:  url(../images/core-hero-sm1.jpg) no-repeat top right;
		height: 600px;
		background-position-y: 50%;
		background-size: 100%;
		padding-bottom: 0px;
	}

	.block#classes {
		padding-top: 30px;
		padding-bottom: 60px;
	}

	.block#sample-lesson {
		padding-top: 30px;
	}

	.sample-lesson-thumb {
		display: none;
	}

	.videoWrapper {
		display: block;
	}

	.nav-box1,
	.nav-box2 {
		font-size: .8em;
	}
		
	.block a {
		margin-bottom: 30px;
	}

	.block#core-themes {
		padding-top: 30px;
	}

}




/*//////////IPHONE/////////*/

body.iphone .sub-nav {
	margin-top: 50px;

}

body.iphone .block#core-themes h1 {
	margin-bottom: 30px;
}




/*//////////IPHONE LANDSCAPE/////////*/

@media (min-width: 480px) {

body.iphone .block#classes {
	padding-top: 50px;
}

body.iphone .block#sample-lesson {
	padding-top: 50px;
}

body.iphone .block#core-themes .theme-cube {
	margin-bottom: 30px;
}

body.iphone .block#core-themes h1 {
	margin-top: 20px;
}



}
