#events-page
  font-family: 'proxima_nova_rgregular'
  #events-header
    margin-top: 64px
    background: transparent url(/assets/images/events/hero-img.jpg) no-repeat center top
    background-size: cover
    height: 600px
    width: 100%
    position: relative

    #over-content
      color: white
      text-align: center
      position: relative
      bottom: -35%

      h1
        font-size: 60px
        font-family: 'proxima_nova_rgbold'

      .action-button
        a
          border: 2px solid #FFFFFF
          border-radius: 4px
          font-family: 'proxima_nova_rgbold'
          font-size: 14px
          color: #FFFFFF
          letter-spacing: 2px
          text-transform: uppercase
          line-height: 17px
          padding: 12px 40px
          display: inline-block
          margin-top: 12px
          &:hover
            background: #FFFFFF
            color: #4f4f4f
            text-decoration: none

    #events-nav
      position: absolute
      bottom: 0%
      background: rgba(0,0,0,.8)
      width: 100%

      ul
        margin: 0
        padding: 0
        text-align: center
        li
          list-style: none
          display: inline-block
          padding: 15px
          a
            color: white
            font-size: 20px
