.events-page
  font-family: 'proxima_nova_rgregular'
  font-size: 18px
  color: #4f4f4f
  margin-bottom: 60px

  h1, h2, h3
    font-family: 'proxima_nova_rgbold'
    text-align: center
  h1
    font-size: 60px
  h2
    margin-top: 60px

  &.subpage
    p
      padding-top: 20px
    ul
      padding-top: 20px
      li
        padding: 5px

  #title-wu
    font-family: 'proxima_nova_rgbold'
    text-align: center
    font-size: 48px
    @media (max-width: 420px)
      font-size: 30px

  span 
    font-size: 70px
    letter-spacing: 6px
    @media (max-width: 520px)
      font-size: 60px
    @media (max-width: 420px)
      font-size: 36px
    

  #title-campus 
    font-family: 'proxima_nova_rgbold'
    margin-left: -20px
    @media (max-width: 420px)
      margin-left: -10px

  #title-on
    font-family: 'proxima_nova_light'

  .action-button
    a
      border: 2px solid #FFFFFF
      border-radius: 4px
      font-family: 'proxima_nova_rgbold'
      font-size: 14px
      color: #FFFFFF
      letter-spacing: 2px
      text-transform: uppercase
      line-height: 17px
      padding: 12px 40px
      display: inline-block
      margin-top: 12px
      &:hover
        background: #FFFFFF
        color: #4f4f4f
        text-decoration: none

  .action-button-2
    text-align: center
    a
      border: 2px solid #4F4F4F
      border-radius: 4px
      font-family: 'proxima_nova_rgbold'
      font-size: 14px
      color: #4F4F4F
      letter-spacing: 2px
      text-transform: uppercase
      line-height: 17px
      padding: 12px 40px
      display: inline-block
      margin-top: 50px
      margin-bottom: 50px
      &:hover
        background: #4f4f4f
        color: white
        text-decoration: none

  .action-button-3
    a
      background: #FFFFFF
      opacity: .9
      border-radius: 4px
      font-family: 'proxima_nova_rgbold'
      font-size: 14px
      color: #4F4F4F
      letter-spacing: 2px
      text-transform: uppercase
      line-height: 17px
      padding: 12px 16px
      display: inline-block
      margin-bottom: 30px
      &:hover
        opacity: 1
        text-decoration: none

  #events-header
    // margin-top: 64px
    background: transparent url(/assets/images/events/hero-img.jpg) no-repeat center top
    background-size: cover
    height: 600px
    width: 100%
    position: relative
    display: table

    @media (max-width: 767px)
      background: transparent url(/assets/images/events/hero-mobile-img.jpg) no-repeat center center
      background-size: cover

    #over-content
      color: white
      text-align: center
      display: table-cell
      vertical-align: middle

    #events-nav
      position: absolute
      bottom: 0%
      background: rgba(48,48,48,.8)
      width: 100%
      left: 0

      ul
        margin: 0
        padding: 0
        text-align: center
        li
          list-style: none
          display: inline-block
          padding: 15px
          a
            color: white
            font-size: 20px

  #letter-container
    text-align: center
    padding-top: 60px
    position: relative
    color: white
    img
      width: 100%

    @media (max-width: 767px)
      padding: 0
      overflow-x: hidden

    #letter-content
      position: absolute
      bottom: 0px
      left: 15px
      width: 750px

      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)))
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 )

      #name
        margin-bottom: 0px
      #title
        margin-bottom: 15px

      @media (max-width: 1200px)
        width: 615px

      @media (max-width: 991px)
        width: 720px

      @media (max-width: 767px)
        width: 100%
        left: 0px

  #curriculum-container
    .learn-button
      background: black
      color: white
      font-family: 'proxima_nova_rgbold'
      font-size: 30px
      text-align: center
      margin: 15px 0
      padding: 48px 0
      display: block
      &:hover
        text-decoration: none

      &#main
        background: black url(/assets/images/events/main-sessions-img.jpg) no-repeat center top
        background-size: cover
      &#breakout
        background: black url(/assets/images/events/breakout-img.jpg) no-repeat center top
        background-size: cover
      &#worship
        background: black url(/assets/images/events/worship-img.jpg) no-repeat center top
        background-size: cover
      &#community
        background: black url(/assets/images/events/community-img.jpg) no-repeat center top
        background-size: cover

    @media (max-width: 767px)
      text-align: center
      .learn-button
        display: inline-block
        width: 100%
        max-width: 360px

  #instructor-container
    margin-top: 60px
    padding-bottom: 60px
    background: #303030
    color: white

    .instructor
      img
        width: 100%
        max-width: 250px
      .instructor-name
        margin: 10px 0

  #registration
    .reg-content
      a
        color: #4f4f4f
        text-decoration: underline
    p
      a
        color: #4f4f4f

.reg-title
  font-family: 'proxima_nova_rgbold'
  margin-bottom: 10px
  margin-top: 40px

#events-subpage-close
  width: 50px
  height: 50px
  color: #4f4f4f
  background: #fff
  border: 1px solid #ababab
  right: 10%
  top: 50px
  opacity: 0.9
  position: fixed
  z-index: 2
  &:hover
    background: #4f4f4f
    color: #fff
  .x
    display: block
    text-decoration: none
    font-size: 30px
    position: inherit
    top: 52px
    margin-left: 17px
    -ms-transform: rotate(45deg)
    -webkit-transform: rotate(45deg)
    transform: rotate(45deg)
    &:hover
      text-decoration: none

  @media (max-width: 767px) 
    top: 24px
    right: 5%
    .x 
      top: 26px

.sessions-header
  height: 400px
  text-align: center
  background: #4f4f4f
  position: relative
  display: table
  width: 100%

  &#main
    background: url(/assets/images/events/main-hero-img.jpg) no-repeat center top
    background-size: cover
  &#breakout
    background: url(/assets/images/events/breakout-hero-img.jpg) no-repeat center top
    background-size: cover
  &#worship
    background: url(/assets/images/events/worship-hero-img.jpg) no-repeat center top
    background-size: cover
  &#community
    background: url(/assets/images/events/community-hero-img.jpg) no-repeat center top
    background-size: cover


  h1
    display: table-cell
    vertical-align: middle
    width: 100%
    color: white
