.footer-bg {
	font-family: "proxima_nova_rgregular";
	color: #fff;
	font-size: 1em;
	background-color: #4f4f4f;
	height: 170px;
	padding-left: 50px;
	padding-top: 30px;

}

ul.footer {
	padding-left: 0px;
	padding-top: 10px;
}

.footer li a {
	font-family: "proxima_nova_ltsemibold";
	color: #fff;
	text-decoration: none;
}

.footer li a:hover {
	color: #e0e0e0;
}

.footer	li {
	display: inline-block;
	padding-right: 30px;
	padding-bottom: 20px;
}


.copyright {
	font-size: .8em;

}




@media (max-width: 767px) {

	.footer-bg {
		padding-right: 40px;
	}

}	


@media (max-width: 390px) {

	.footer-bg {
		height: 240px;
	}
}

