#app-wholepage {
	background-color: #f0f0f0;
	padding-bottom: 400px;
}

#video-lesson {
	background-color: #000;
	height: 560px;
	margin-top: 64px;
}

#app-video {
	margin-top: -20px;
	padding-bottom: 52.2%;
}

#app-video iframe {
	width: 80%;
	margin-left: 10%;
}

.finish-video {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #fff;
	border-bottom: 1px solid #f0f0f0;
	color: #4f4f4f;
	font-family: "proxima_nova_ltsemibold";
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px; 
	height: 70px;
	padding: 24px 30px;
	padding-right: 20px;
	

}

.finish-btn {
	color: #fff;
	background-color: #6fda8c;
	border-radius: 4px;
	padding: 10px 30px;
	text-align: center;
	float: right;
	margin-top: -33px;
	font-size: 14px;
}

.finish-btn:hover {
	text-decoration: none;
	background-color: #66c680;
	color: #fff;
}

.big-btn:hover {
	text-decoration: none;
}

/*////////// LESSON DETAILS /////////*/

.lesson-info {
	background-color: #fff;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 30px; 
}

#lesson-name {
	font-family: "proxima_nova_ltsemibold";
	font-size: 24px;
	letter-spacing: 1px;
	color: #4f4f4f;
}

#lesson-author {
	font-family: "proxima_nova_rgregular";
	font-size: 18px;
	letter-spacing: 1px;
	color: #4f4f4f;
}

#duration {
	font-family: "proxima_nova_rgregular";
	font-size: 14px;
	letter-spacing: 1px;
	color: #4f4f4f;
	border-bottom: 1px solid #ababab;
	padding-bottom: 20px;
	padding-top: 5px;
}

#lesson-description {
	font-family: "proxima_nova_rgregular";
	font-size: 18px;
	color: #4f4f4f;
	margin-top: 20px;

}

#summary-btn {
	font-family: "proxima_nova_ltsemibold";
	font-size: 16px;
	letter-spacing: 1px;
	color: #ababab;
	text-align: center;
	border: 2px solid #ababab;
	padding-top: 8px;
	padding-bottom: 8px;
	text-transform: uppercase;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#summary-btn:hover {
	color: #f0f0f0;
	background-color: #ababab;
}


/*////////// COMMENTS /////////*/

#add-comment {
	font-family: "proxima_nova_rgregular";
	font-size: 18px;
	color: #ababab;
	background-color: #fff;
	margin-left: 10%;
	margin-right: 10%;
	height: 100px;
	padding: 20px;

}

.comment-triangle {
	content: "";
	margin-left: 12%;
	position: absolute;
	z-index: 3;
	height: 0;
	width: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 9px solid #fefefe;
}

.comment-line {
	height: 80px;
	border-left: 1px solid #e0e0e0;
	position: absolute;
	margin-left: 13%;
}

.post-btn {
	font-family: "proxima_nova_ltsemibold";
	font-size: 16px;
	letter-spacing: 1px;
	color: #6fda8c;
	border: 2px solid #6fda8c;
	padding: 8px 30px;
	float: right;
	margin: 20px 10%;
}

.post-btn:hover {
	color: #f0f0f0;
	background-color: #6fda8c;
}

.comment {
	background-color: #fff;
	margin-left: 10%;
	margin-right: 10%;
	padding: 20px;
	font-family: "proxima_nova_rgregular";
	font-size: 18px;
	color: #4f4f4f;
}

.comment-info {
	margin-left: 90px;
}

.comment-name {
	font-family: "proxima_nova_ltsemibold";
}

.comment-date {
	color: #ababab;
	font-size: 12px;
}

.profile-pic {
	border-radius: 100%;
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 20px;
}

@media (max-width: 1199px) {
	
	#video-lesson {
		height: 470px;
	}
}

@media (max-width: 991px) {
	
	#video-lesson {
		height: 440px;
	}

	#app-video iframe {
		width: 100%;
		margin-left: auto;
	}

	#app-video {
		padding-bottom: 64%;
	}

	.finish-video {
		width: 100%;
		margin-left: auto;
	}

	.lesson-info {
		width: 100%;
		margin-left: auto;
	}

	#summary-btn {
		width: 100%;
		margin-left: auto;
	}

	#add-comment {
		width: 100%;
		margin-left: auto;
	}

	.post-btn {
		margin-right: 0;
	}

	.comment-triangle {
		margin-left: 5%
	}

	.comment-line {
		margin-left: 6.5%; 
	}

	.comment {
		width: 100%;
		margin-left: auto;
	}
}

@media (max-width: 767px) {
	
	#video-lesson {
		height: auto;
		margin-top: -3%;
	}

	#video-lesson .container {
		margin-bottom: -16%;
	}

	.finish-video {
		height: 120px;
		padding: 20px;
		text-align: center;
	}

	.finish-btn {
		width: 100%;
		margin-top: 10px;
		margin-left: 0 auto;
	}
}

@media (max-width: 408px) {
	
	#video-lesson .container {
		margin-top: 8%;
		margin-bottom: -20%;
	}
	
	.finish-video {
		height: 130px;
	}

	.comment-line {
		margin-left: 7.5%;
	}
}
