.hero-img#music-classes {
	background: url(../images/music-hero-lg.jpg) no-repeat top right;
	height: 500px;
	width: 100%;
	background-size: cover;
	background-position-x: 50% !important;
}

#music-classes .sub-nav .nav-box1 {
	left: 0;
	margin-left: -50%;
}

#music-classes .sub-nav .nav-box2 {
	margin-left: 0;
}

#music-classes .header {
	font-family: "proxima_nova_ltsemibold";
	font-size: 4em;
	color: #fff;
	padding-top: 220px;
	line-height: 1em;
}


#music-themes {
	height: auto;
	padding-top: 60px;
	padding-bottom: 80px;
}

#music-themes h1 {
	text-align: center;
	margin-bottom: 40px;
}

.block#music-themes .theme-cube {
	height: 380px;
}


.theme-icon#theory {
	background: url(../images/icon-theory@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#vocals {
	background: url(../images/icon-vocals@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#drums {
	background: url(../images/icon-drums@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#bass {
	background: url(../images/icon-bass@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#piano {
	background: url(../images/icon-piano@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#keyboards {
	background: url(../images/icon-keyboards@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#electric {
	background: url(../images/icon-electric@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-icon#acoustic {
	background: url(../images/icon-acoustic@2x.png) no-repeat top;
	background-size: 100%;
	position: relative; 
}

.theme-cube #theory .icon-active {
	position: absolute;
	background: url(../images/icon-theory@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #vocals .icon-active {
	position: absolute;
	background: url(../images/icon-vocals@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #drums .icon-active {
	position: absolute;
	background: url(../images/icon-drums@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #bass .icon-active {
	position: absolute;
	background: url(../images/icon-bass@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #piano .icon-active {
	position: absolute;
	background: url(../images/icon-piano@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #keyboards .icon-active {
	position: absolute;
	background: url(../images/icon-keyboards@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #electric .icon-active {
	position: absolute;
	background: url(../images/icon-electric@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube #acoustic .icon-active {
	position: absolute;
	background: url(../images/icon-acoustic@2x.png) no-repeat;
	opacity: 0;
	top: 0; left: 0; bottom: 0; right: 0;
	background-size: 100%;
	background-position: bottom;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.theme-cube:hover #theory .icon-active,
.theme-cube:hover #vocals .icon-active,
.theme-cube:hover #drums .icon-active,
.theme-cube:hover #bass .icon-active,
.theme-cube:hover #piano .icon-active,
.theme-cube:hover #keyboards .icon-active, 
.theme-cube:hover #electric .icon-active,
.theme-cube:hover #acoustic .icon-active {
	opacity: 1;
}


@media (max-width: 1199px) {

	.block#music-themes .theme-cube {
		height: 340px;
	}

}

@media (max-width: 991px) {

	.hero-img#music-classes {
		background-position-x: 80% !important;
	}

	.block#music-themes .theme-cube {
		height: 400px;
	}	

}


@media (max-width: 767px) {

	.block#music-themes .theme-cube {
		height: auto;
	}

	#music-classes .header {
		width: 70%;
	}

	.block#music-themes {
		padding-bottom: 20px;
	}


}


@media	(max-width: 580px) {

	#music-classes .header {
		padding-top: 240px;
		width: 80%
	}

	.block#music-themes {
		padding-top: 30px;
	}

	.hero-img#music-classes {
		background:  url(../images/music-hero-sm.jpg) no-repeat top right;
		height: 600px;
		background-position-y: 50%;
		background-size: 100%;
		padding-bottom: 0px;
	}


}


@media (max-width: 400px) {

	#music-classes .header {
		padding-top: 210px;
		width: 100%;
	}

}


/*//////////IPHONE/////////*/

body.iphone .block#music-themes h1 {
	padding-top: 20px;
	margin-bottom: 30px;
}


/*//////////IPHONE LANDSCAPE/////////*/

@media (min-width: 480px) {

body.iphone .block#music-themes .theme-cube {
	margin-bottom: 30px;
}

body.iphone .block#music-themes .theme-cube h1 {
	margin-top: 20px;
}



}
