/* Write your CSS! */

.navbar {
	width: 100%;
	display: block;	
	height: 64px;
	padding: 10px;
	margin: 0;
	z-index: 1000000;
	opacity: .95;
}

.navbar-brand {
	padding-top: 6px;
}

.logo {
	-webkit-transition: all 0.2s ease-in-out;
	height: 30px;
	
}	

.logo:hover {
	opacity: 0.7;
}

.navbar-default .navbar-nav > li > a {
	font-family: "proxima_nova_rgbold";
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
	color: #4f4f4f;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	margin-top: -3px;
}


.navbar-default .navbar-nav > li > a:hover {
	color: #ee3c23;
	text-decoration: none;
}


.navbar-collapse.collapse.in {
	border-top:none;
	background: #fff;
	padding: 0 24px 10px 24px;
	margin-top: 4px;
	margin-left: -30px;
	margin-right: -30px;
}

.trial-button {
	-webkit-transition: all 0.3s ease-in-out;
	background-color: #6fda8c;
	border-radius: 4px;
	margin-left: 10px;
	padding-left: 8px;
	padding-right: 8px;
	height: 44px;
}

.navbar-default .navbar-nav > li.trial-button a {
	color: #fff;
}

.trial-button a:hover {
	text-decoration: none;
	color: #fff;
}

.navbar-default .navbar-nav > li.trial-button a:active {
	color: #f0f0f0;	
	-webkit-transition: all 0.1s linear
}

.trial-button:hover {
	background-color: #66c680;
}


@media (max-width: 1024px){
	.trial-button{
		text-align: center;
		margin-right: 10px;
	}
}


@media (max-width: 991px) {
	.navbar-default .navbar-nav > li > a {
		font-size: .8em;
	}

	.trial-button {
		padding-left: 1px;
		padding-right: 1px;
	}


}


@media (max-width: 390px) {
	.navbar {
		height: 50px;
		margin-bottom: 0;
	}
	
	.navbar-collapse.collapse.in {
		margin-top: -100px;
	}

	.navbar-brand {
		height: 40px;
		padding-top: 2px;
		margin-left: -10px;
	}

	.logo{
		height: 26px;
	}

	.navbar-toggle {
		margin-top: -2px;
		margin-right: -2px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */
  
  body {
    background-size: 72px 72px;
  }

}