
.more-stories h1 {
	margin-top: 120px;
}

.testimony {
	font-family: "proxima_nova_rgregular";
	background-color: #f6f6f6;
	padding-left: 15px;
	margin-top: 20px;
	margin-bottom: 30px;

}

.content#more-stories {
	margin-top: -280px;
	margin-bottom: 200px;
	height: auto;
}

.testimony-pic {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.content#more-stories h1 {
	font-size: 1.8em;
	padding-top: 30px;
	margin-bottom: -10px;
	width: 90%;
}

.content#more-stories .story-body,
.content#more-stories .name {
	font-size: 1.2em;
}

.content#more-stories .name	{
	padding-bottom: 30px;
}

.content#more-stories .testimony {
	margin-bottom: 0px;
}

@media (max-width: 991px) {


	.more-stories p {
		width: 80%;
	}

	.content#more-stories {
		margin-top: -260px; 
	}	

	.content#more-stories h1 {
		padding-top: 20px;
	}

	.content#more-stories .name	{
		padding-bottom: 20px;
	}

	.content#more-stories .story-body {
		margin-top: -20px;
	}

}


@media (max-width: 767px) {

	.more-stories h1 {
		margin-top: 40px;
		text-align: left;
		margin-left: 20px;
	}

	.more-stories p {
		text-align: left;
		margin-left: 20px;
	}

	.content#more-stories {
		margin-top: -200px;
	}

	.content#more-stories h1 {
		text-align: left;
		width: 95%;
		margin-top: -150px;
		margin-left: 120px;
	}

	.testimony-pic {
		margin-left: -15px;
		width: 120px;
		height: 120px;
	}
}


@media (max-width: 600px) {

	.content#more-stories h1 {
		padding-top: 5%;
		font-size: 1.4em;
	}

}



/*//////////IPHONE/////////*/

body.iphone .more-stories h1 {
	margin-top: 60px;
	margin-left: 3%;
}

body.iphone .more-stories p {
	margin-left: 3%;
}


body.iphone .content#more-stories {
	margin-top: -150px;	
}

body.iphone .content#more-stories h1 {
	font-size: 1.3em;
	padding-top: 45%;
	margin-left: 70px;
}

body.iphone .content#more-stories img {
	width: 80px;
	height: 80px;
	margin-right: 5px;
	margin-left: -20px;
	margin-bottom: 0;
}

body.iphone .content#more-stories .story-body {
	margin-top: 10%;
	margin-left: -10px;
}

body.iphone .content#more-stories .name {
	margin-left: -10px;
}




/*//////////IPHONE LANDSCAPE/////////*/

@media (min-width: 480px) {

body.iphone .more-stories h1 {
	margin-top: 0px;
}

body.iphone .more-stories p {
	margin-bottom: -40px;
}

body.iphone .content#more-stories h1 {
	padding-top: 40%;
	margin-bottom: 0;
}

body.iphone .content#more-stories img {
	margin-bottom: -40px;
}

}

