.block#terms {
	height: auto;
	margin-bottom: 200px;
}

.block#terms .header {
	text-transform: uppercase;
	margin-top: -120px;
	font-size: 2.5em;
	color: #4f4f4f;
	letter-spacing: 1px;
	padding-bottom: 10px;
}


.block#terms h1 {
	font-size: 1.8em;
	padding-top: 30px;
}

.block#terms p {
	line-height: 1.6em;
	text-align: justify;
}

.block#terms a {
	font-size: 1em;
}


@media	(max-width: 990px) {
	.block#terms .header {
	margin-top: -160px;
	}
}

@media	(max-width: 767px) {
	.block#terms .header {
	text-align: center;
	width: 90%;
	margin-left: 5%
	}

	.block#terms .header{
	margin-top: -300px;
	}
}

@media	(max-width: 600px) {
	.block#terms .header {
	margin-top: -140px;
	}
}

@media	(max-width: 390px) {
	.block#terms .header {
	margin-top: 20px;
	}
}