<!-- $page_url https://www.worshipu.com/events/payment-details/ -->
<!-- $page_title Payment Details | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2 Payment Details
        %p Nonrefundable Application Fee:  $40
			Tuition: $895

			Nonrefundable Deposit:
			Due within 30 days of acceptance letter: $100
			Payment:
			Due June 1, 2014 in full: $895
			 
			Refund Policy: 
			 The following percentages of money paid will be refunded in the event the student withdraws:
			Withdrawal during the first week of classes  - 50%
			Second week - 20%

			Accreditation: 
			 Bethel School of Supernatural Worship is not an accredited school with the State of California; therefore, it is not eligible for 
			 financial aid, student loans, or grants.

			Auditing of Classes: 
			Those individuals wishing to hear a special speaker without participating in the total program of Bethel School of Worship may audit classes, (taken with no credit), for a cost of $25 per main AM session which includes worship. Full day auditing is $100.00 per day which includes the night classes. Individual classes are $25.00 per session for afternoon and evening classes. You can sign up for auditing in the sanctuary at the registration table.