<!-- $page_url https://www.worshipu.com/events/letter/ -->
<!-- $page_title Letter | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2
          Our passion is your encounter with God

        %p
          More than ever, we are sensing a leading to find those who influence the worship ministry in various church movements. Our passion is to lead them into open heaven encounters that will ultimately have great impact on the local church. If this is your heart, we invite you to see your gifts grow that you may be used to bring His Kingdom to earth. We are looking for gifted worship leaders, songwriters, musicians, singers, dancers, and artists whose mandate is to change the world for God.
        %p
          As usual, there will be instrument classes, guest speakers, extended worship times, band sessions, creative expressions and more. We also want to teach participants how to express their gifts with Holy Spirit leading in a strong presence environment. The Lord will be bringing the worship experience "up a notch" and we want to equip worship leaders for that purpose. We are desperate to see His glory as never before.
        %p
          Come and improve your worship skills under an open heaven. Our dream is that during this life-changing experience, you will find your song, your voice, and increased anointing this year.
        %p
          Brian &amp; Jenn
