<!-- $page_url https://www.worshipu.com/events/policies/ -->
<!-- $page_title Policies | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2 Policies
