<!-- $page_url https://www.worshipu.com/events/policies/ -->
<!-- $page_title Policies | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2 Policies

        .reg-title Admission:
        .reg-content
          A genuine "born again" experience is required for admission to Bethel School of Supernatural Worship; in particular, we wish to accept those sensing the call of God on their lives in the area of worship. Students must also be in agreement with our doctrinal statement {Linked to the "We Believe" section found at the bottom of page}

          .reg-title Standard of Conduct:
          .reg-content Students will seek to "be imitators of God" (Ephesians 5: 1-12).

          .reg-title Attendance:
          .reg-content Students are expected to attend classes regularly and punctually. During the course of this program, the maximum number of absences permitted is four days. Exceptions to this policy will be made for extreme circumstances and emergencies only. If a student's absences total more than 4 days, he or she will not receive a Certificate of Completion, but may still attend classes.
          %br
          Discipline of Students:
          The School of Worship environment of freedom requires a high level of self-management. Any student struggling to make wise choices will receive quick and direct confrontation. These encounters are designed to help students draw out the greatness within them. Our staff and pastoral teams are trained and empowered to apply strength and grace wherever our students may need it.
          %br
          Withdrawal:
          Any student who wishes to withdraw from Bethel School of Worship must arrange an appointment with the Overseer to discuss the reasons for withdrawal from the school.

          .reg-title We Believe:
          .reg-content The Bible to be the inspired and only infallible and authoritative Word of God.
          That there is one God, eternally existent in three persons: God the Father, God the Son, and God the Holy Ghost.
          %br
          That the Lord Jesus Christ, the only begotton Son of God, was conceived of the Holy Spirit, born of the virgin Mary, was crucified, died, buried, resurrected and ascended into heaven, and is now alive and seated at the right hand of God the Father and is "true God" and "true man."
          %br
          In the Blessed Hope, which is the rapture of the Church at Christ's coming.
          That the only means of being cleansed from sin is through repentance and faith in the shed blood of Christ.
          %br
          That the regeneration by the Holy Spirit is absolutely essential for personal salvation.
          That the redemptive work of Christ on the cross provides healing of the human body in answer to believing prayer.
          %br
          That the baptism of the Holy Spirit according to Acts 2:4 is given to believers who ask for it.
          In the sanctifying power of the Holy Spirit, by whose indwelling, the Christian is enabled to live a holy life.
          %br
          In the resurrection of both the saved and the lost, the one to everlasting life and the other to everlasting damnation.
                    
