.container
  .row
    .col-md-8.col-md-offset-2
      %h2 Experience the life-changing 2 week school hosted by Bethel Music
      %p Come to Redding, California for an incredible summer adventure filled with amazing teaching, passionate worship services and forge life-long friendships. Gather with artists, worship leaders, and musicians from around the world to encounter God and grow in your calling.

#letter-container.container
  .row
    .col-md-8.col-md-offset-2
      %img{ src: '/assets/images/events/brian-jenn-img.jpg' }
      #letter-content
        %h3#name Brian &amp; Jenn Johnson
        #title Senior Overseers
        .action-button-3
          %a{ href: '/events/letter/' } Read Their Letter To You

#curriculum-container.container
  .row
    .col-md-8.col-md-offset-2
      %h2 Learn about WorshipU On Campus
      %p WorshipU On-Campus is a worship school that consists of 4 major components. Main sessions teach on matter of the heart, the kingdom, and lifestlye. Breakout sessions are specific for instrument training, songwriting and worship leading. Extended time of praise and worship everyday from word renown leaders. Community activities make it easy to build friendships with like-minded people from around the globe.

  .row
    .col-md-4.col-md-offset-2
      %a.learn-button#main{ href: '/events/main-sessions/' }
        Main Sessions
    .col-md-4
      %a.learn-button#breakout{ href: '/events/breakout-classes/' }
        Breakout Classes
    .col-md-4.col-md-offset-2
      %a.learn-button#worship{ href: '/events/worship/' }
        Worship
    .col-md-4
      %a.learn-button#community{ href: '/events/community/' }
        Community
