#registration.container
  .row
    .col-md-8.col-md-offset-2

      %h2 Registration Details

      .reg-title Tuition
      .reg-content
        $895 due in full by June 15, 2015
        %br
        $40 application fee - counts towards tuition balance
        %br
        $200 deposit due by April, 1, 2015

      .reg-title Dates
      .reg-content
        July 6 - 17, 2015

      .reg-title Address
      .reg-content
        933 College View Dr
        %br
        Redding, CA 96003

      .reg-title Registration
      .reg-content
        Apply now before spaces fill up. Once we receive your recommendation letters, we will review the entire application. Once you have been accepted into WorshipU On Campus, you will receive an email with further instructions on class registration and payment.

      .reg-title Admission
      .reg-content
        A genuine "born again" experience is required for admission to WorshipU On Campus; in particular, we wish to accept those sensing the call of God on their lives in the area of worship. Students must also be in agreement with our doctrinal statement.

      .reg-title Additional Information
      .reg-content
        %a{ href: '/events/general-information/' } General information
        %br
        %a{ href: '/events/lodging/' } Lodging
        %br
        %a{ href: '/events/policies/' } Policies
        %br
        %a{ href: '/events/payment-details/' } Payment details
        %br
        %a{ href: '/events/class-schedule/' } Class schedule

      .action-button-2
        %a{ href: '#' }
          Apply Now

      %p
        For any other questions contact us at:
        %a{ href: 'mailto:oncampus@worshipu.com' } oncampus@worshipu.com
