#events-header
  #over-content
    %h1
      On Campus
    %h3
      July 6 - 17, 2015
    #location
      Redding, CA
    .action-button
      %a{ href: '/events/apply-now/' }
        Apply Now

  #events-nav
    %ul
      %li
        %a#overseers{ href: '#letter-container' } Overseers
      %li
        %a#curriculum{ href: '#curriculum-container' } Curriculum
      %li
        %a#instructors{ href: '#instructor-container' } Instructors
      %li
        %a#details{ href: '#registration' } Details
