#events-header
  #over-content
    %h1
      On Campus
    %h3
      July 6 - 17, 2015
    #location
      Redding, CA
    .action-button
      %a{ href: '#' }
        Apply Now

  #events-nav
    %ul
      %li
        %a{ href: '#' } Overseers
      %li
        %a{ href: '#' } Curriculum
      %li
        %a{ href: '#' } Instructors
      %li
        %a{ href: '#' } Details
