#instructor-container
  .container
    .row
      .col-md-8.col-md-offset-2
        %h2 Here are some of the instructors you'll be hearing from.

    .row
      .instructor.col-md-2.col-md-offset-2
        %img{ src: '/assets/images/instructor-brian-johnson.png' }
        .instructor-name
          Brian
          %br
          Johnson
      .instructor.col-md-2
        %img{ src: '/assets/images/instructor-jenn-johnson.png' }
        .instructor-name
          Jenn
          %br
          Johnson
      .instructor.col-md-2
        %img{ src: '/assets/images/instructor-bill-johnson.png' }
        .instructor-name
          Bill
          %br
          Johnson
      .instructor.col-md-2
        %img{ src: '/assets/images/instructor-kris-vallotton.png' }
        .instructor-name
          Kris
          %br
          Vallotton
    .row
      .instructor.col-md-2.col-md-offset-2
        %img{ src: '/assets/images/instructor-steffany-gretzinger.png' }
        .instructor-name
          Steffany
          %br
          Gretzinger
      .instructor.col-md-2
        %img{ src: '/assets/images/instructor-jeremy-riddle.png' }
        .instructor-name
          Jeremy
          %br
          Riddle
      .instructor.col-md-2
        %img{ src: '/assets/images/instructor-jonathan-helser.png' }
        .instructor-name
          Jonathan
          %br
          Helser
      .instructor.col-md-2
        %img{ src: '/assets/images/instructor-melissa-helser.png' }
        .instructor-name
          Melissa
          %br
          Helser
    .row
      .instructor.col-md-2.col-md-offset-2
        %img{ src: '/assets/images/instructor-rich-langton.png' }
        .instructor-name
          Rich
          %br
          Langton
      .instructor.col-md-2
        %img{ src: '/assets/images/instructor-cass-langton.png' }
        .instructor-name
          Cass
          %br
          Langton
      .instructor.col-md-2
        %img{ src: '/assets/images/instructor-josh-baldwin.png' }
        .instructor-name
          Josh
          %br
          Baldwin
      .instructor.col-md-2
        %img{ src: '/assets/images/instructor-anthony-skinner.png' }
        .instructor-name
          Anthony
          %br
          Skinner
