<!-- $page_url https://www.worshipu.com/events/ -->
<!-- $page_title Events | WorshipU -->
<!-- @include _header -->

-# I can't believe I'm doing this
-# Style active nav item because hammer doesn't do if statements
:sass
  #nav-events
    color: #ee3c23

%section#events-page
  #events-header
    #over-content
      %h1
        On Campus
      %h3
        July 6 - 17, 2015
      #location
        Redding, CA
      .action-button
        %a{ href: '#' }
          Apply Now

    #events-nav
      %ul
        %li
          %a{ href: '#' } Overseers
        %li
          %a{ href: '#' } Curriculum
        %li
          %a{ href: '#' } Instructors
        %li
          %a{ href: '#' } Details


<!-- @include _footer -->
