<!-- $page_url https://www.worshipu.com/events/ -->
<!-- $page_title Events | WorshipU -->
<!-- @include _header -->

-# I can't believe I'm doing this
-# Style active nav item because hammer doesn't do if statements
:sass
  #nav-events
    color: #ee3c23

<!-- @include _footer -->
