<!-- $page_url https://www.worshipu.com/events/ -->
<!-- $page_title Events | WorshipU -->
<!-- @include _header -->

-# I can't believe I'm doing this
-# Style active nav item because hammer doesn't do if statements
:sass
  #nav-events
    color: #ee3c23

%section#events-page

  <!-- @include _events-header -->

  <!-- @include _events-top-content -->

  <!-- @include _events-instructors -->

  <!-- @include _events-registration -->

<!-- @include _footer -->
