<!-- $page_url https://www.worshipu.com/events/payment/ -->
<!-- $page_title Payment | WorshipU -->
<!-- @include events-subpage/_header -->

%section.events-page.subpage
  .container
    .row
      .col-md-8.col-md-offset-2

        %h2
          Payment

        :erb
          <a name="form51048692" id="formAnchor51048692"></a>
          <script type="text/javascript" src="https://fs2.formsite.com/include/form/embedManager.js?51048692"></script>
          <script type="text/javascript">
            EmbedManager.embed({
              key: "https://fs2.formsite.com/res/showFormEmbed?EParam=m%2FOmK8apOTB9nJTa4oErOGxK8Ec6hRTFFzpUCZwnDno%3D&51048692",
              width: "100%",
              mobileResponsive: true
            });
          </script>

