<!-- $page_url https://www.worshipu.com/events/breakout-classes/ -->
<!-- $page_title Breakout Classes | WorshipU -->
<!-- @include events-subpage/_header -->

-# again without the if statments i am helpless
:sass
  #events-subpage-close
    a
      color: white
      opacity: .8
      &:hover
        color: white
        opacity: 1

%section.events-page.subpage

  .sessions-header#breakout
    %h1 Breakout Classes

  .container
    .row
      .col-md-8.col-md-offset-2

        %h2
          Hands on training for musicians, songwriters, worship leaders, and creative artists.

        %p
          Breakout sessions offer you a chance to get hands on training on your instrument or skill of choice. Bethel Music musicians teach from experience on guitar, drums, bass, keyboards, and more. We also offer a large selection of skill development classes for photographers, sound engineers, painters, dancers, songwriters, and worship leaders. In the intimate setting of the breakout classes, you will be able to get a more personal connection to grow in your area of interest. 

        %p
          Breakout Sessions include:

        .reg-title Songwriting:
        %p
          We offer a variety of songwriting classes that are taught by our Worship U staff and other outside guest speakers. Actual class descriptions will be made available 1 month before school starts. Here are some of the following topics that will be addressed in class:

        %ul
          %li Catching and Crafting Ideas
          %li The Marriage of Lyric and Music
          %li Pursuing His Presence - Jeremy Riddle
          %li What Makes a Great Song
          %li Painting Pictures with Your Words
          %li General Guidelines for Writing a Worship Song
          %li Incorporating Different Styles in Your Writing
          %li Co-Writing Keys
          %li Saying What You Want to Say in a Musical Way
          And more...

        .reg-title Worship Leading:
        %p
          We have many classes to help worship leaders grow in the practical skills of leadership as well as diving into matters of team dynamics and following the Holy Spirit. Classes include:

        %ul
          %li Spirit. Classes include:
          %li Prophetic Song
          %li Corporate Vs. Personal Anointing
          %li The Role of a Worship Leader
          %li Spirit Led Worship
          %li Connection to Leadership as a Worship Leader
          %li Relating to Your Band and Pulling the Best Out of Them
          %li Creating Set Lists
          %li How to Run a Smooth Sound Check
          %li How to Create a Prophetic Culture Through Praise/Worship
          %li Using Songs as a Runway to the Prophetic
          %li Leading with Confidence
          %li Prophetic Song Vs. Spontaneous Song
          %li Where does the Prophetic Song fit in a Worship Service?
          And more...


        .reg-title Drums:
        %p
          Classes are rated Beginner/Intermediate and are open to all drummers. Depending on how many drummers we have in class, you may have personal one on one instructions with a personal instructor.
          Topics Include:

        %ul
          %li Drum Set Basics
          %li The Role of a Drummer in a Worship Setting
          %li Playing with Different Band Leaders
          %li Playing Dynamically
          %li Playing with a Metronome
          Being Sensitive to the Movement of the Spirit and the %li Music
          %li Tips on Recording
          %li Studio Drumming


        .reg-title Bass:
        %p
          Classes are rated Beginner/Intermediate and are open to all bass players. Depending on how many players we have in class, you may have personal one on one instructions with a personal instructor.
          Topics Include:

        %ul
          %li Style and Technique
          %li Gear and Tone
          %li Bass Q & A
          %li Music Theory
          %li The Role of a Bass Player in the Band






