<!-- $page_url https://www.worshipu.com/events/breakout-classes/ -->
<!-- $page_title Breakout Classes | WorshipU -->
<!-- @include events-subpage/_header -->

-# again without the if statments i am helpless
:sass
  #events-subpage-close
    a
      color: white
      opacity: .8
      &:hover
        color: white
        opacity: 1

%section.events-page.subpage

  .sessions-header#breakout
    %h1 Breakout Classes

  .container
    .row
      .col-md-8.col-md-offset-2

        %h2
          Hands-on training for musicians, songwriters, worship leaders, and creative artists.

        %p
          Breakout sessions offer you a chance to receive hands-on training on your instrument or skill of choice. Bethel Music musicians teach from their years of experience on guitar, drums, bass, keyboards, and more. We also offer a large selection of skill development classes for photographers, sound engineers, painters, dancers, songwriters, and worship leaders. In the intimate setting of our breakout classes, you will be able to get a more personal connection to grow in your area of interest. 

        %p
          Breakout sessions include:

        .reg-title Songwriting:
        %p
          We offer a variety of songwriting classes that are taught by our WorshipU staff and other guest speakers. Actual class descriptions will be made available 1 month before school starts. Here are some of the topics that will be addressed in class:

        %ul
          %li Catching and Crafting Ideas
          %li The Marriage of Lyric and Music
          %li Pursuing His Presence
          %li What Makes a Great Song
          %li Painting Pictures with Your Words
          %li General Guidelines for Writing a Worship Song
          %li Incorporating Different Styles in Your Writing
          %li Co-writing Keys
          %li Saying What You Want to Say in a Musical Way
          and more...

        .reg-title Worship Leading:
        %p
          We have many classes to help worship leaders grow in their practical leadership skills. In these sessions, we will also dive into matters of team dynamics and following the Holy Spirit. Classes include:

        %ul
          %li Prophetic Song
          %li Corporate Vs. Personal Anointing
          %li The Role of a Worship Leader
          %li Spirit-led Worship
          %li Cultivating Relationship With Your Pastors
          %li Relating to Your Band
          %li Creating Set Lists
          %li How to Run a Smooth Sound Check
          %li How to Create a Prophetic Culture Through Praise & Worship
          %li Using Songs as a Runway to the Prophetic
          %li Leading with Confidence
          %li Prophetic Song Vs. Spontaneous Song
          %li Where does the Prophetic Song fit in a Worship Service?
          and more...


        .reg-title Drums:
        %p
          Classes are rated Beginner/Intermediate and are open to all drummers. Depending on how many drummers are enrolled, you may receive personal one-on-one instruction with a tutor.
          Topics include:

        %ul
          %li Drum Set Basics
          %li The Role of a Drummer in a Worship Setting
          %li Playing with Different Band Leaders
          %li Playing Dynamically
          %li Playing with a Metronome
          %li Being Sensitive to the Movement of the Spirit and the Music
          %li Tips on Recording
          %li Studio Drumming


        .reg-title Bass:
        %p
          Classes are rated Beginner/Intermediate and are open to all bass players. Depending on how many bassists are enrolled, you may receive personal one-on-one instruction with a tutor.
          Topics Include:

        %ul
          %li Style and Technique
          %li Gear and Tone
          %li Bass Q & A
          %li Music Theory
          %li The Role of a Bass Player in the Band


        .reg-title Guitar:
        %p
          There are many different classes taught on guitar, ranging from the Beginning Player to the Advanced Player. More descriptions of exact classes will be given one month prior to school starting. Some of the topics to be covered in the classes are:

        %ul
          %li The Role of an Electric Lead Player
          %li Excellence in Performing
          %li Gear
          %li Basic Harmony: How Chords and Progressions Relate to Each Other
          %li Understanding Guitar Theory
          %li Beginning Acoustic
          %li Intermediate Acoustic
          %li Lead Guitar Playing in a Worship Setting
          %li Tutorial on Jesus Culture & Bethel Live Lead Guitar Parts

        .reg-title Keyboards:
        %p
          Topics covered in the Keyboards class include:

        %ul
          %li Sound Design
          %li How To Be a Keyboardist in a Worship Band
          %li Playing Tips
          %li Software, Recording and Gear
          %li Basic Worship Piano
          %li Effects
          %li Discovering Your Limitations and Growing Beyond Them
          %li Choosing the Appropriate Sound(s)
          %li The Nashville Number System


        .reg-title Creative Expressions:
        %p
          This is your opportunity to be able to present to the class the creative expressions that you have living inside of you. Your expression can be anything from Spoken Word to a Hip-Hop dance and everything in between.

        .reg-title Dance/Creative Movement & Flagging:
        %p
          We have a wonderful group of dancers from The Artesan Dance Company in Redding, along with dancers from Bethel Church who specialize in a variety of dance styles. Some of the classes include but are not limited to:

        %ul
          %li Beginning Through Advanced Ballet
          %li Creative Movement
          %li Healing Room Dance
          %li Modern Dance
          %li Urban Dance Demonstration
          %li Ballet Fitness
          %li Flagging
          %li Dance as Intercession
          %li Choreography

        .reg-title Art In Worship:
        %p
          A selection of topics included but not limited to:

        %ul
          %li Prophetic Art in the Marketplace
          %li Living Your Dreams Through Creativity
          %li Breakthrough and Healing Through Prophetic Art
          %li Creative Freedom
          %li Prophetic Portraits
          %li Writing With Words and Color

        .reg-title Voice:
        %p
          In the voice class, we will be discussing the mechanics of the voice to help you find your true voice. We will be observing and evaluating common problem areas and negative tendencies that people have while singing, such as pushing, pulling, squeezing, over-blowing, lack of strength and singing throaty, nasally or breathy. We will then discuss and implement practical ways to correct these things.
          %br
          %br
          Private lessons will be available from the instructor for an additional fee. You may go to  
          %a{ href: 'http://www.facebook.com/TrueVoxLessons', target: '_blank'} 
            www.facebook.com/TrueVoxLessons
          or 
          %a{ href: 'http://bookfresh.com/service/redding/truevox/499633617', target: '_blank'}
            bookfresh.com/service/redding/truevox/499633617 
          to schedule a private lesson.


        .reg-title Sound & Recording:
        %p
          We have a wide range of Sound & Recording options available to you this year. Most classes are hands-on and allow you to have a recording/mixing experience in a non-threatening atmosphere. Classes are being taught for all skill levels. Topics include:

        %ul  
          %li Pro-Tools Basics
          %li Intermediate and Advanced Pro-Tools and Audio Training
          %li Advanced Studio Training
          %li Sound 101
          %li Recording Overview
          %li Microphone Techniques
          %li Studio Mixing Techniques
          %li Recording Demos


        .reg-title Photography:
        %p
          This class is broken up into 5 sessions. You need to have your own camera and it should not be your Iphone. During the course of the school, you will learn the following:

        %ul  
          %li The Prophetic Side 
          %li The Studio Side
          %li The Natural Light Side 
          %li The Photoshop Side 
          %li Digital Imaging 







