<!-- $page_url https://www.worshipu.com/events/worship/ -->
<!-- $page_title Worship | WorshipU -->
<!-- @include events-subpage/_header -->

-# again without the if statments i am helpless
:sass
  #events-subpage-close
    a
      color: white
      opacity: .8
      &:hover
        color: white
        opacity: 1

%section.events-page.subpage

  .sessions-header#worship
    %h1 Worship

  .container
    .row
      .col-md-8.col-md-offset-2

        %h2
          Encounter God's Presence in a very real way

        %p
          Everyday at WorshipU begins with an extended time of worship. This is your time to chase after God and give Him the glory He's due. Join in with a group of hungry worshippers as you're led by experienced worship leaders. Come expecting to see chains broken, joy unleashed and heavenly revelations like never before. 

        %p
          Worship Leaders Include: 

        %ul
          %li Brian Johnson
          %li Jenn Johnson
          %li Jeremy Riddle
          %li Steffany Gretzinger
          %li Amanda Cook
          %li Jonathan and Melissa Helser
          %li Josh Baldwin
          %li Matt Stinton
          %li Hunter Thompson
          %li Paul and Hannah McClure
          %li Kalley Heiligenthal
          And more...